.thing .tagline .author[href$="/Aldrexus"],
.thing .tagline .author[href$="/Blizz_AKlontzas"],
.thing .tagline .author[href$="/Blizz_Daybringer"],
.thing .tagline .author[href$="/Blizz_DRobbins"],
.thing .tagline .author[href$="/Blizz_JDeShazer"],
.thing .tagline .author[href$="/Blizz_KinaBREW"],
.thing .tagline .author[href$="/Blizz_NLaMusga"],
.thing .tagline .author[href$="/Blizz_Peterconcept"],
.thing .tagline .author[href$="/Blizz_Shyy"],
.thing .tagline .author[href$="/Blizz_Taylor"],
.thing .tagline .author[href$="/blizz_zhopp"],
.thing .tagline .author[href$="/BlizzAlan"],
.thing .tagline .author[href$="/BlizzAZJackson"],
.thing .tagline .author[href$="/BlizzClaudio"],
.thing .tagline .author[href$="/BlizzCooper"],
.thing .tagline .author[href$="/BlizzJohnny"],
.thing .tagline .author[href$="/BlizzJohnzee"],
.thing .tagline .author[href$="/BlizzLoesby"],
.thing .tagline .author[href$="/BlizzMilkfat"],
.thing .tagline .author[href$="/BlizzNeyman"],
.thing .tagline .author[href$="/BlizzTravis"],
.thing .tagline .author[href$="/BlizzZhang"],
.thing .tagline .author[href$="/Centaurik"],
.thing .tagline .author[href$="/cloaken"],
.thing .tagline .author[href$="/eSportsMatt"],
.thing .tagline .author[href$="/Heroes_QA"],
.thing .tagline .author[href$="/KaeoMilker"],
.thing .tagline .author[href$="/Katealyst"],
.thing .tagline .author[href$="/LeadRockDesigner"],
.thing .tagline .author[href$="/Rathmyr"],
.thing .tagline .author[href$="/Ravinix"],
.thing .tagline .author[href$="/Spyrian"],
.thing .tagline .author[href$="/BlizzJunho"],
.thing .tagline .author[href$="/BlizzROcampo"],
.thing .tagline .author[href$="/vaeflare"] {
  border-radius: 1px;
  margin-bottom: 2px;
  padding: 2px 3px;
  vertical-align: middle;

  &::after{
    border-left: 1px solid #AAA;
    font-size: 11px;
    margin-left: .25em;
    padding-left: .25em;
  }

  &::before {
    background: url(%%flair%%) -9px -1319px no-repeat;
    content: "";
    display: inline-block;
    height: 16px;
    margin-bottom: -2px;
    margin-right: 4px;
    width: 20px;
  }
}

.thing .tagline .author[href$="/Spyrian"]::after,
.thing .tagline .author[href$="/Aldrexus"]::after,
.thing .tagline .author[href$="/Katealyst"]::after,
.thing .tagline .author[href$="/Rathmyr"]::after,
.thing .tagline .author[href$="/Ravinix"]::after {
  content: "Community Manager";
}

.thing .tagline .author[href$="/Blizz_Daybringer"]::after,
.thing .tagline .author[href$="/Centaurik"]::after,
.thing .tagline .author[href$="/BlizzAZJackson"]::after,
.thing .tagline .author[href$="/BlizzNeyman"]::after,
.thing .tagline .author[href$="/BlizzCooper"]::after,
.thing .tagline .author[href$="/Blizz_NLaMusga"]::after {
  content: "Game Designer";
}

.thing .tagline .author[href$="/Blizz_JDeShazer"]::after {
  content: "Battleground Designer";
}

.thing .tagline .author[href$="/BlizzClaudio"]::after,
.thing .tagline .author[href$="/Blizz_AKlontzas"]::after {
  content: "Producer";
}

.thing .tagline .author[href$="/BlizzAlan"]::after {
  content: "Game Director";
}

.thing .tagline .author[href$="/LeadRockDesigner"]::after {
  content: "The Rock";
}

.thing .tagline .author[href$="/blizz_zhopp"]::after {
  content: "Technical Game Designer";
}

.thing .tagline .author[href$="/Blizz_KinaBREW"]::after {
  content: "3D Artist";
}

.thing .tagline .author[href$="/eSportsMatt"]::after{
  content: "Asc. Esports Manager";
}

.thing .tagline .author[href$="/BlizzMilkfat"]::after{
  content: "Esports Franchise Lead";
} 

.thing .tagline .author[href$="/cloaken"]::after {
  content: "Creative Content Lead";
}

.thing .tagline .author[href$="/BlizzJohnzee"]::after {
  content: "Technical Designer";
}

.thing .tagline .author[href$="/BlizzZhang"]::after,
.thing .tagline .author[href$="/Blizz_Shyy"]::after {
  content: "Game Producer";
}

.thing .tagline .author[href$="/KaeoMilker"]::after {
  content: "Production Director";
}

.thing .tagline .author[href$="/BlizzLoesby"]::after,
.thing .tagline .author[href$="/Blizz_DRobbins"]::after {
  content: "Software Engineer";
}

.thing .tagline .author[href$="/BlizzJohnny"]::after {
  content: "UI Artist";
}

.thing .tagline .author[href$="/BlizzJunho"]::after {
  content: "Principal Artist - UI Design";
}

.thing .tagline .author[href$="/Blizz_Taylor"]::after,
.thing .tagline .author[href$="/BlizzROcampo"]::after {
  content: "UI Designer";
}

.thing .tagline .author[href$="/BlizzTravis"]::after {
  content: "Lead Game Designer";
}

.thing .tagline .author[href$="/Blizz_Peterconcept"]::after {
  content: "Concept Artist";
}
