.thing .tagline .author[href$="/Blizz_Brad"],
.thing .tagline .author[href$="/Blizz_James"],
.thing .tagline .author[href$="/PezRadar"] {
  border-radius: 1px;
  margin-bottom: 2px;
  padding: 2px 3px;
  vertical-align: middle;

  &::after {
    border-left: 1px solid #AAA;
    font-size: 11px;
    margin-left: .25em;
    padding-left: .25em;
  }

  &::before {
    background: url(%%flair-general%%) -9px -179px no-repeat;
    content: "";
    display: inline-block;
    height: 16px;
    margin-bottom: -2px;
    margin-right: 4px;
    width: 20px;
  }
}

.thing .tagline .author[href$="/PezRadar"]::after {
  content: "Community Director";
}

.thing .tagline .author[href$="/Blizz_Brad"]::after {
  content: "Lead Designer";
}

.thing .tagline .author[href$="/Blizz_James"]::after {
  content: "Lead Producer";
}
