.pinHeader-sub #sr-header-area,
.pinHeader-subanduser #sr-header-area {
  background-image: url(%%banner%%);
  background-position: 80% 0
}

.pinHeader-sub #header-bottom-left,
.pinHeader-subanduser #header-bottom-left {
  margin-top: 0
}

.pinHeader-header .content {
  margin-top: 12px!important
}

.pinHeader-header #header {
  top: 0;
  background-image: url(%%banner%%);
  height: 84px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .24)
}

.res #header-bottom-right {
  top: 1px;
  border-radius: 0;
  padding: 0 8px 0 0
}

.res #userbarToggle {
  background-color: transparent;
  color: rgba(255, 255, 255, .45);
  border-radius: 0;
  border: none
}

.res #header-bottom-right .user {
  font-size: 0
}

.res #RESSubredditGroupDropdown .RESShortcutsCurrentSub a,
.res #sr-header-area a.RESShortcutsCurrentSub {
  color: #fff!important;
  border-bottom: 2px solid #fff
}

#RESAccountSwitcherIcon {
  position: relative;
  top: -4px
}

.res #REScommentNavToggle {
  max-width: 98px;
  overflow: hidden;
  max-height: 15px;
  background-color: #FAFAFA;
  transition: all .35s ease
}

.res #REScommentNavToggle:hover {
  max-width: 100%
}

.res .content .RESBigEditorPop {
  background-color: transparent;
  line-height: inherit;
  font-size: 11px;
  font-family: verdana, arial, sans-serif;
  box-shadow: none;
  font-weight: 400;
  color: #4D5763;
  border: none;
  padding: 0;
  height: inherit;
  margin-left: 4px;
  margin-top: 5px
}

html.res-commentBoxes .comment {
  margin-left: 0!important
}

.res .commentarea .thing {
  border: none!important
}

.res .RESDashboardToggle,
.res .RESshortcutside {
  background-image: none!important;
  border: none;
  color: #4D5763;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0;
  padding: 4px 6px 4px 0;
  margin: 2px 6px 2px -4px;
  text-align: left;
  width: auto
}

.res .RESDashboardToggle:hover,
.res .RESshortcutside:hover {
  background-color: transparent;
  color: #4F8EF7
}

.res #progressIndicator {
  width: inherit;
  border-radius: 0;
  border: none;
  padding: 16px;
  margin: 16px 0;
  color: #b3b3b3;
  background-color: #fff;
  height: inherit
}

.res #progressIndicator h2 {
  color: #4D5763
}

.res .NERPageMarker {
  border-radius: 0;
  border: none;
  background-color: #fff;
  padding: 16px 0;
  margin: 0
}

.res .sitetable .sitetable {
  margin-right: 0
}

.res #search #searchexpando {
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  height: auto
}

.res .fancy-toggle-button .remove,
.res .titlebox .fancy-toggle-button .add {
  top: -78px
}

.res .commentarea .panestack-title {
  margin-top: 0;
  padding-top: 12px
}

.gearIcon {
  background: url(%%spritesheet%%)!important
}

#RESSearchMenuItem,
#RESSearchMenuItem:hover {
  background-color: #667df0
}

#RESSearchMenuItem {
  border: 1px solid #4258ca;
  border-radius: 1px
}

.toggleButton .toggleOff,
.toggleButton .toggleOn {
  text-transform: lowercase
}

.moduleToggle.enabled .toggleOff,
.moduleToggle:not(.enabled) .toggleOn,
.toggleButton.enabled .toggleOff,
.toggleButton:not(.enabled) .toggleOn {
  background-color: transparent;
  color: rgba(255, 255, 255, .6);
  border: 1px solid #4258ca;
  transition: all .15s ease;
  border-radius: 2px
}

.moduleToggle.enabled .toggleOn,
.moduleToggle:not(.enabled) .toggleOff,
.toggleButton.enabled .toggleOn,
.toggleButton:not(.enabled) .toggleOff {
  background-color: #fff;
  color: #516AE8;
  font-weight: bolder;
  border: 1px solid #fff;
  transition: all .15s ease;
  border-radius: 2px
}

.markdownEditor .edit-btn:not(.btn-macro) {
  border: 0 solid!important;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .12)
}

body:before {
  height: 180px;
  background: url(%%banner%%) 80% 0 no-repeat fixed #000;
  top: 0;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  text-indent: -9999px;
  z-index: -1
}

body>.content {
  margin-top: 190px
}

#search,
.search-page .morelink {
  top: 190px
}

.morelink {
  top: 242px
}

#header-bottom-left {
  top: 126px
}

#header .tabmenu li a,
.pagename a {
  text-shadow: 0 1px 8px rgba(0, 0, 0, .5)
}

#header .tabmenu li a:hover,
.pagename a:hover {
  background-color: rgba(0, 0, 0, .12)
}

.arrow.down:after {
  content: "For content that does not contribute to any discussion."
}

.morelink:after {
  content: "Please remember to read the rules and use the Search Bar. Thank you!"
}

.submit-page .infobar:before {
  content: "Please submit insightful content that allows for discussion!"
}

#mail.havemail:before {
  content: "You have new messages!"
}

.linkflair-modpost .thumbnail {
  background: url(%%spritesheet%%) -74px -200px
}

.expando-button,
.expando-button.image,
.expando-button.video-muted {
  left: 0;
  transition: left .15s ease 0
}

#suggested-reddits,
.account-activity-box,
.leavemoderator,
.morelink .nub,
.rank-spacer,
.search-summary,
.sidebox .subtitle,
.sidebox.create,
.sidebox.submit.submit-text,
.stylesheet-customize-container h2,
.submit-page .side,
.titlebox .bottom,
.titlebox .tagline a.author,
.titlebox .users-online:before,
.titlebox form.toggle.flairtoggle,
.titlelebox .word,
body>.content .link .rank,
div.titlebox span.word {
  display: none
}

.pinHeader-header:before {
  display: none!important
}

.arrow.upmod:focus:after,
.flair-tespa,
.listing-page .tabmenu li:nth-of-type(8),
.thing.stickied .domain,
.titlebox .users-online:before,
.titlelebox .word,
.wiki-page .tabmenu li:nth-of-type(8),
div.titlebox span.word {
  display: none
}

.thumbnail[href*="www.youtube.com"] {
  max-width: 56px;
  margin-left: 4px;
  margin-right: 20px;
  min-height: 56px;
  min-width: 56px;
  height: 56px;
  width: 56px;
  opacity: .75;
  border-radius: 50%;
  padding: 0;
  position: relative;
  background-position-x: 109px
}

a.thumbnail[href*="www.youtube.com"] img {
  min-height: 80px!important;
  border-radius: 0;
  width: 86px;
  height: auto;
  padding: 0;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0
}

.thumbnail[href*="us.battle.net"] {
  max-width: 56px;
  margin-left: 4px;
  margin-right: 20px;
  min-height: 56px;
  min-width: 56px;
  height: 56px;
  width: 56px;
  opacity: .75;
  border-radius: 50%;
  padding: 0;
  position: relative;
  background-position: -77px -200px
}

a.thumbnail[href*="us.battle.net"] img {
  min-height: 80px!important;
  border-radius: 0;
  width: 86px;
  height: auto;
  padding: 0;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0
}

a.thumbnail img {
  height: 56px;
  width: 56px;
  margin: 0 4px;
  border-radius: 50%
}

.titlebox .subscribe-button .active.add,
.titlebox .subscribe-button .active.remove {
  margin-bottom: 10px;
  background: #0b2d4f;
  color: #fff
}

.titlebox .subscribe-button,
.titlebox .subscribe-button .active {
  display: block;
  margin-top: 5px
}

.titlebox .subscribe-button .active {
  width: 292px;
  position: relative;
  padding: 5px;
  border: 0 solid;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
  font-weight: 400;
  font-size: 1em;
  right: -2px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  top: 0
}

.titlebox .subscribe-button .active.add {
  top: 0;
  text-transform: uppercase;
  font-weight: 400
}

.titlebox .subscribe-button .active.add:hover,
.titlebox .subscribe-button .active.remove:hover {
  background: #0b2d4f
}

.titlebox .RESDashboardToggle {
  margin-right: 0
}

.titlebox .RESDashboardToggle,
.titlebox .RESshortcutside {
  display: inline-block;
  width: 142px;
  background: #0b2d4f;
  border: 0 solid;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
  margin-bottom: 12px;
  padding: 5px;
  color: #fff;
  font-weight: 400;
  margin-left: 2px;
  border-radius: 3px;
  z-index: 23456
}

.titlebox .RESDashboardToggle:hover,
.titlebox .RESshortcutside:hover {
  background: #0b2d4f
}

.titlebox .RESDashboardToggle.remove,
.titlebox .RESshortcutside.remove {
  background: #0b2d4f;
  color: #fff
}

.titlebox .RESDashboardToggle.remove:hover,
.titlebox .RESshortcutside.remove:hover {
  background: #ff5c33
}

.res-nightmode #siteTable .link,
.res-nightmode #sr-header-area,
.res-nightmode .commentarea .menuarea,
.res-nightmode .commentarea>.sitetable,
.res-nightmode .commentarea>form.usertext,
.res-nightmode .comments-page .side .linkinfo,
.res-nightmode .panestack-title,
.res-nightmode .search-page .content>.menuarea,
.res-nightmode .search-page .searchpane,
.res-nightmode .side .md>ol {
  background-color: transparent
}

.res-nightmode .side #search #searchexpando {
  background-color: #222
}

.res-nightmode .thing .expando-button {
  width: 24px;
  height: 24px
}

#header-bottom-right {
  border: none
}

#header-bottom-right:hover {
  opacity: 1
}

#header-bottom-right #userbarToggle {
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: #fff;
  top: -4px;
  opacity: .8
}

#header #header-bottom-right {
  background-color: transparent;
  z-index: 1000
}

#header-bottom-right a {
  color: #fff
}

.author {
  color: #9E6500!important
}

.arrow,
.arrow:hover {
  background-color: transparent
}

.flairoptionpane {
	max-height: 350px
}

.flairoptionpane .flair,
.flairselection .flair,
.flairselector {
  width: 688px!important
}

.arrow {
  height: 24px!important;
  width: 24px!important;
  background-image: url(%%reddit-voting%%)!important
}

.arrow.up:hover,
.arrow.upmod {
  background-position: 0 0!important
}

.arrow.up {
  background-position: 0 -24px!important
}

.arrow.down {
  background-position: 0 -48px!important
}

.arrow.down:hover,
.arrow.downmod {
  background-position: 0 -72px!important
}

a.voteWeight {
  background-color: transparent!important
}

.morelink,
.morelink:after,
.morelink:hover {
  background-color: #0b2d4f
}

.midcol {
  width: 36px!important;
  padding: 2px 0;
}

.morelink,
.morelink:after {
  width: 320px
}

.link .score {
  font-size: 100%;
  margin-left: -8px
}

.link .score.likes {
  color: #A03300
}

.link .score.dislikes {
  color: #1633A7
}

.dislikes div.score.dislikes,
.likes div.score.likes {
  margin-left: -9px
}

#search #searchexpando,
#search input[type=text] {
  width: 320px;
  margin-left: -20px
}

.sitetable {
  margin-right: 30px!important;
  position: relative
}

.morelink:after {
  z-index: 2147483647;
  position: absolute
}

#search #searchexpando {
  line-height: 30px;
  z-index: 2147483647!important
}

.titlebox h1 a {
  color: #4d5763;
  margin-bottom: 4px;
  display: none
}

.titlebox .number,
.titlebox .users-online,
.titlebox span.subscribers {
  color: #999;
  font-size: 12px;
  position: relative;
  left: -2px
}

div.titlebox span.number:after {
  z-index: 1;
  content: " Stewards of the Templar"
}

.titlebox .users-online {
  display: block
}

.titlebox .users-online .number {
  font-style: italic
}

.titlebox .users-online .number:before {
  content: ""
}

.titlebox .users-online .number:after {
  z-index: 1;
  content: " defending Antioch from the zerg"
}

.titlebox .number,
.titlebox .users-online {
  cursor: text
}

.titlebox .tagline {
  font-size: 12px;
  margin: 0
}

.titlebox .tagline:after {
  content: "";
  height: 2px;
  background-color: #f2f2f2;
  display: block;
  margin-top: 16px
}

.res h1.hover.redditname {
  margin-bottom: 3px
}

.res .fancy-toggle-button .remove,
.thing.stickied {
  margin-bottom: 5px!important
}

.res .titlebox .tagline,
.titlebox .tagline {
  margin-top: 0
}

.stickied {
  background: rgba(101, 179, 84, .25);
  border: 1px solid #65b354;
}

.stickied .entry.RES-keyNav-activeElement {
  border-right-color: #65b354!important
}

.comments-page .stickied {
  background: rgba(101, 179, 84, .25);
}

.comments-page .stickied::before {
  background: rgba(101, 179, 84, .25);
}

.thing.stickied .entry li .comments,
.thing.stickied a.title {
  color: #228822!important
}

.thing.stickied a {
  color: #823008!important
}

.thing.stickied .expando-button:hover {
  background-color: #65b354!important;
  border-color: #65b354!important
}

.tagline .stickied-tagline {
  color: #b3b3b3;
  cursor: help
}

.comments-page .sitetable.nestedlisting>.thing.stickied {
  background: rgba(101, 179, 84, .25);
}

#header .pagename,
#header .pagename a,
#header .tabmenu {
  position: absolute;
  left: 0;
  right: 0
}

#header .pagename {
  font-size: 0;
  width: 299px;
  height: 170px;
  background: url(%%reddit-logo%%) no-repeat;
  display: block;
  top: -140px;
  margin: 0 auto;
  text-indent: -9999px;
  z-index: 1
}

#header .pagename a {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: arial;
  vertical-align: top;
  transition: background-color .25s ease;
  font-variant: normal;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 1
}

#header .pagename a:hover {
  background-color: rgba(0, 0, 0, 0)
}

#header .tabmenu {
  border: none;
  bottom: -53px;
  text-align: center;
  margin: 0 auto;
  width: 56%;
  z-index: 150
}

#header-bottom-left {
  left: 0;
  right: 0;
  height: 0
}

.commentarea span.flair.flair-blizzard~.userattrs::before,
.commentarea span.flair.flair-tespa~.userattrs::before {
  content: "";
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none
}

.content .infobar {
  margin-right: 30px
}

body.listing-page>.content {
  box-shadow: 0 0 0 transparent
}

.commentarea span.flair.flair-blizzard~.userattrs::before {
  display: block;
  background-color: transparent;
  background-image: url(%%blizzard-ama%%);
  background-position: 0 0;
  position: absolute;
  border: 1px solid #AAA;
  border-radius: 3px;
  z-index: 0
}

.comments-page .linkflair-bluepost .md strong,
.comments-page .linkflair-bluepost.stickied .md strong {
  color: #fff!important
}

.linkflair-bluepost.stickied .md strong {
  color: #fff
}

.commentarea .thing>* {
  position: relative;
  z-index: 15
}

.commentarea .thing>.entry {
  position: static
}

.linkflair-bluepost .md h1 {
  color: #fff!important
}

.commentarea span.flair.flair-blizzard~.userattrs::after {
  content: "Blizzard Comment";
  font-size: 11px;
  display: inline-block;
  width: auto;
  height: auto;
  background: #333;
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgba(0, 195, 255, 1);
  padding: 3px 6px;
  border-radius: 3px;
  font-weight: 700;
  text-shadow: 1px 1px #000;
  pointer-events: none
}

.link.stickied.linkflair-bluepost .score,
.thing.stickied.linkflair-bluepost .entry li .comments,
.thing.stickied.linkflair-bluepost a,
.thing.stickied.linkflair-bluepost a.title {
  color: rgba(0, 195, 255, 1)!important
}

.comments-page .stickied.linkflair-bluepost::before {
  content: " ";
  pointer-events: none;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: radial-gradient(ellipse farthest-side at left top, rgba(255, 255, 255, 0) 0, rgba(0, 195, 255, .15) 100%);
}

.commentarea .sitetable .comment,
.commentarea .thing,
.gearIcon {
  position: relative
}

.linkflair-bluepost.stickied .entry.RES-keyNav-activeElement {
  border-right-color: #00c3ff!important
}

.thing.stickied.linkflair-bluepost .usertext .md a {
  color: #FFF!important
}

.thing.stickied.linkflair-bluepost .expando-button:hover {
  background-color: #00c3ff!important;
  border-color: #00c3ff!important
}

.comments-page .linkflair-bluepost {
  background-image: url(%%blizzard-fade%%);
  border-radius: 0
}

.comments-page .linkflair-bluepost::before {
  display: block;
  height: 100%;
  background: radial-gradient(ellipse farthest-side at left top, rgba(255, 255, 255, 0) 0, rgba(0, 195, 255, .15) 100%)
}

.linkflair-bluepost .usertext .md {
  color: rgba(0, 195, 255, 1)
}

.linkflair-bluepost .usertext .md a {
  color: #FFF;
  font-weight: 700
}

.linkflair-bluepost a.title,
.stickied a.title {
  font-weight: 900;
  font-family: Futura, 'Century Gothic', sans-serif
}

.linkflair-bluepost .usertext .md blockquote {
  color: inherit
}

.linkflair-bluepost .usertext .md pre {
  color: initial
}

.linkflair-bluepost .usertext .md a:visited {
  color: #FFF
}

.linkflair-bluepost a.title,
.listing-page .linkflair-bluepost a {
  color: rgba(0, 195, 255, 1)!important
}

.link.last-clicked.linkflair-bluepost {
  background-color: #444!important
}

.linkflair-bluepost .entry .buttons li a,
.linkflair-bluepost .entry .tagline {
  color: #CCC
}

.linkflair-bluepost .linkflairlabel {
  background: rgba(0, 195, 255, 1);
  margin: 0 0 0 5px;
  color: #FFF;
  text-shadow: 0 0 20px #fff, 0 0 20px rgba(22, 143, 231, .85), 0 0 10px #c7f2ff, 0 0 10px #3cadff, 0 0 5px #3cadff, 0 0 5px #3cadff;
  padding: 0 3px;
  border-radius: 2px;
  border: 1px solid #3cadff;
  display: none
}

.RESDropdownList li,
.RESDropdownList li a:hover,
.RESDropdownList li:hover {
  color: #fff;
  background-color: #0B2D4F
}

.linkflair-bluepost .entry {
  border-bottom: 0
}

.linkflair-bluepost .thumbnail {
  background: url(%%spritesheet%%) -74px -200px;
  height: 56px
}

.linkflair-bluepost,
.linkflair-bluepost.stickied {
  background: url(%%blizzard-fade%%) left center no-repeat #333;
  border: 1px solid #000
}

.res #header-bottom-right {
  height: 24px
}

#RESMainGearOverlay {
  top: 21px!important;
  background-color: #0B2D4F;
  height: 26px!important;
  border-radius: 0!important
}

.gearIcon {
  top: 2px;
  transition: all .25s ease
}

.RESDropdownList {
  border-color: #0B2D4F;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .24);
  margin-top: -5px;
  margin-right: 8px
}

#images,
.search-page .searchpane,
.stylesheet-customize-container .pretty-form {
  margin-right: 30px
}

.RESDropdownList li {
  border-color: #fff;
  transition: all .15s ease
}

.RESDropdownList li:first-letter {
  text-transform: capitalize
}

.RESDropdownList a,
.RESDropdownList a:visited {
  color: #fff
}

.submit-page #newlink.submit.content {
  margin-top: 200px
}

.submit-page #header .pagename {
  margin-top: 105px
}

.btn,
.btn:hover,
.submit-page #newlink.submit.content .btn,
.submit-page #newlink.submit.content .tabmenu.formtab .selected a,
.submit-page #newlink.submit.content .tabmenu.formtab .selected a:hover,
.submit-page .btn,
.submit-page .infobar,
button,
button:hover {
  background-color: #0b2d4f
}

.combined-search-page .search-result-group {
  margin-right: 30px;
  max-width: inherit;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .24);
  background-color: #fff;
  padding-bottom: 5px
}

.combined-search-page .search-result-group .search-result-group-header {
  padding: 10px
}

#preview-table>table {
  width: 98%
}

#images {
  height: 2460px
}

.commentarea>.usertext,
.res .commentarea>.usertext {
  margin-right: 30px!important
}

.commentarea .thing,
.res .commentarea .thing {
  padding: 10px 10px 10px 8px!important
}

.arrow.down:hover:after {
  width: 400px!important;
  background-color: #0b2d4f
}

div.RES-keyNav-activeElement {
  border-left: none;
  border-right: 4px solid #0b2d4f
}

.res form.toggle.sr_style_toggle {
  margin: -6px 0 8px
}

form.toggle.sr_style_toggle label {
  position: relative;
  top: -2px
}

.RESDialogSmall .fancy-toggle-button {
  margin-top: 0
}

#sr-header-area .width-clip {
  z-index: 12345!important
}

.res #header-bottom-right .user .userkarma,
.res #searchexpando .searchexpando-submit {
  display: inline-block
}

.res #header-bottom-right .user a {
  font-size: 10px
}

#searchexpando .searchexpando-submit {
  margin-left: 200px
}

.link.compressed .score {
  margin-left: 0
}

#header-img,
#header-img.default-header {
  margin-left: 5px;
  background-image: url(%%reddit-icon-48-white%%);
  background-position: -47px 0
}

#header-img.default-header:hover,
#header-img:hover {
  background-position: -47px 0;
  opacity: .8
}

.stickied~.stickied {
  margin-top: -5px;
  border-radius: 0 0 2px 2px!important;
  border-top: none
}

.commentarea .child .thing {
  margin-bottom: 1px;
  background-color: inherit
}

.sponsorshipbox {
  margin-left: 12px;
  margin-top: 14px
}

.organic-listing .link.promotedlink {
  margin-right: 26px;
  margin-bottom: 5px
}

.organic-listing {
  background-color: #eee!important
}

#ad_main {
  margin-left: -2px
}

.organic-listing .help {
  margin-right: 34px
}

div.RES-keyNav-activeElement,
div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {
  padding-left: 0!important
}

.subButtons {
  margin-top: 5px!important;
  margin-bottom: 5px!important
}

.linkflair-bluepost div.RES-keyNav-activeElement,
.linkflair-bluepost.stickied div.RES-keyNav-activeElement {
  border-color: #3cadff
}

#siteTable .link {
  margin-bottom: 1px
}

.link .entry {
  border-bottom: none
}

.beta-hint a {
  top: 3px
}

#header-bottom-right {
  max-width: 400px
}

.linkflair-bluepost .res .RES-keyNav-activeElement,
.linkflair-bluepost .res .RES-keyNav-activeElement .md-container,
.res .RES-keyNav-activeElement,
.res .RES-keyNav-activeElement .md-container, 
.entry.res-selected, 
.entry.res-selected .md-container {
  background-color: transparent!important
}

.link .usertext .md {
  border-top: none!important
}

.modtools-page>div.content {
  margin-top: 180px!important
}

html.res-commentBoxes .comment {
  margin-right: 30px!important
}

#RESShortcuts {
  color: grey
}

.expando-button{
  background-size:inherit!important;
}

.linkinfo .views {
  color: #4D5763;
}

.usertext-edit textarea {
  z-index: 99
}

.titlebox .tagline a.flairselectbtn {
  font-weight: bold
}

.thing.stickied .md hr {
  border: #ababab
}

.thing.stickied .md td, .thing.stickied .md th {
  border-color: #ababab
}

.gilded {
    box-shadow: 0 0 18px rgba(255,235,80,.4)
}

