.f-e-b-step::before {
  background-position: 0 0;
}

.f-e-begenius::before {
  background-position: 0 -20px;
}

.f-e-diamond-skin::before {
  background-position: 0 -40px;
}

.f-e-no-tomorrow::before {
  background-position: 0 -60px;
}

.f-e-superstars::before {
  background-position: 0 -80px;
}

.f-e-synergy::before {
  background-position: 0 -100px;
}

.f-e-team-8::before {
  background-position: 0 -120px;
}

.f-e-team-expert::before {
  background-position: 0 -140px;
}

.f-e-team-freedom::before {
  background-position: 0 -160px;
}

.f-e-tricked-esports::before {
  background-position: 0 -180px;
}
