.flair-abathur::before {
  background-position: 0 0
}

.flair-arthas::before {
  background-position: 0 -20px
}

.flair-barbarian::before {
  background-position: 0 -40px
}

.flair-brightwing::before {
  background-position: 0 -460px
}

.flair-demonhunter::before {
  background-position: 0 -60px
}

.flair-diablo::before {
  background-position: 0 -80px
}

.flair-etc::before {
  background-position: 0 -100px
}

.flair-falstad::before {
  background-position: 0 -120px
}

.flair-gazlowe::before {
  background-position: 0 -140px
}

.flair-illidan::before {
  background-position: 0 -160px
}

.flair-kerrigan::before {
  background-position: 0 -180px
}

.flair-malfurion::before {
  background-position: 0 -200px
}

.flair-muradin::before {
  background-position: 0 -220px
}

.flair-nova::before {
  background-position: 0 -240px
}

.flair-raynor::before {
  background-position: 0 -260px
}

.flair-sgthammer::before {
  background-position: 0 -280px
}

.flair-stitches::before {
  background-position: 0 -300px
}

.flair-tassadar::before {
  background-position: 0 -320px
}

.flair-tyrael::before {
  background-position: 0 -340px
}

.flair-tyrande::before {
  background-position: 0 -360px
}

.flair-uther::before {
  background-position: 0 -380px
}

.flair-witchdoctor::before {
  background-position: 0 -400px
}

.flair-zeratul::before {
  background-position: 0 -420px
}

.flair-lili::before {
  background-position: 0 -440px
}

.flair-murky::before {
  background-position: 0 -480px
}

.flair-kaelthas::before {
  background-position: 0 -520px
}

.flair-sylvannas::before {
  background-position: 0 -540px
}

.flair-tychus::before {
  background-position: 0 -560px
}

.flair-diablothree::before {
  background-position: 0 -580px
}

.flair-starcrafttwo::before {
  background-position: 0 -600px
}

.flair-wow::before {
  background-position: 0 -620px
}

.flair-hearthstone::before {
  background-position: 40px -600px
}

.flair-overwatch::before {
  background-position: 40px -580px
}

.flair-heroeslogo::before {
  background-position: 0 -640px
}

.flair-heroesicon::before {
  background-position: 0 -660px;
  height: 16px!important
}

.flair-rehgar::before {
  background-position: 0 -680px
}

.flair-anubarak::before {
  background-position: 0 -700px
}

.flair-chen::before {
  height: 17px;
  background-position: 0 -720px
}

.flair-azmodan::before {
  background-position: 0 -740px
}

.flair-thrall::before {
  background-position: 0 -760px
}

.flair-jaina::before {
  background-position: 0 -780px
}

.flair-leoric::before {
  background-position: 0 -820px
}

.flair-butcher::before {
  background-position: 0 -840px
}

.flair-crusader::before {
  background-position: 0 -860px
}

.flair-zagara::before {
  background-position: 0 -880px
}

.flair-tlv::before {
  background-position: 0 -899px
}

.flair-monk::before {
  background-position: 0 -1620px
}

.flair-rexxar::before {
  background-position: 0 -1640px
}

.flair-assassin::before {
  background-position: 0 -1680px
}

.flair-specialist::before {
  background-position: 0 -1700px
}

.flair-support::before {
  background-position: 0 -1720px
}

.flair-warrior::before {
  background-position: 0 -1740px
}

.flair-medic::before {
  background-position: 0 -1760px
}

.flair-artanis::before {
  background-position: 0 -1780px
}

.flair-sgthammer2::before {
  background-position: 0 -1880px
}

.flair-kaelthas2::before {
  background-position: 0 -1900px
}

.flair-thrall2::before {
  background-position: 0 -1920px
}

.flair-leoric2::before {
  background-position: 0 -1940px
}

.flair-guldan::before {
  background-position: 0 -1800px
}

.flair-wonderbillie::before {
  background-position: 0 -2000px
}

.flair-chogall::before {
  background-position: 0 -2020px
}

.flair-cho::before {
  background-position: 0 -2040px
}

.flair-gall::before {
  background-position: 0 -2060px
}

.flair-lunara::before {
  background-position: 0 -2080px
}

.flair-greymane::before {
  background-position: 0 -2100px
}

.flair-greymaneworgen::before {
  background-position: 0 -2120px
}

.flair-tracer::before {
  background-position: 0 -2140px
}

.flair-liming::before {
  background-position: 0 -2400px
}

.flair-limingorb::before {
  background-position: 0 -2420px
}

.flair-xul::before {
  background-position: 0 -2440px
}

.flair-autoselect::before {
  background-position: 0 -2220px
}

.flair-master-abathur::before {
  background-position: 40px 0
}

.flair-master-arthas::before {
  background-position: 40px -20px
}

.flair-master-barbarian::before {
  background-position: 40px -40px
}

.flair-master-brightwing::before {
  background-position: 40px -460px
}

.flair-master-demonhunter::before {
  background-position: 40px -60px
}

.flair-master-diablo::before {
  background-position: 40px -80px
}

.flair-master-etc::before {
  background-position: 40px -100px
}

.flair-master-falstad::before {
  background-position: 40px -120px
}

.flair-master-gazlowe::before {
  background-position: 40px -140px
}

.flair-master-illidan::before {
  background-position: 40px -160px
}

.flair-master-kerrigan::before {
  background-position: 40px -180px
}

.flair-master-malfurion::before {
  background-position: 40px -200px
}

.flair-master-muradin::before {
  background-position: 40px -220px
}

.flair-master-nova::before {
  background-position: 40px -240px
}

.flair-master-raynor::before {
  background-position: 40px -260px
}

.flair-master-sgthammer::before {
  background-position: 40px -280px
}

.flair-master-stitches::before {
  background-position: 40px -300px
}

.flair-master-tassadar::before {
  background-position: 40px -320px
}

.flair-master-tyrael::before {
  background-position: 40px -340px
}

.flair-master-tyrande::before {
  background-position: 40px -360px
}

.flair-master-uther::before {
  background-position: 40px -380px
}

.flair-master-witchdoctor::before {
  background-position: 40px -400px
}

.flair-master-zeratul::before {
  background-position: 40px -420px
}

.flair-master-lili::before {
  background-position: 40px -440px
}

.flair-master-murky::before {
  background-position: 40px -480px
}

.flair-master-kaelthas::before {
  background-position: 40px -520px
}

.flair-master-sylvannas::before {
  background-position: 40px -540px
}

.flair-master-tychus::before {
  background-position: 40px -560px
}

.flair-master-rehgar::before {
  background-position: 40px -680px
}

.flair-master-anubarak::before {
  background-position: 40px -700px
}

.flair-master-chen::before {
  background-position: 40px -500px
}

.flair-master-azmodan::before {
  background-position: 40px -740px
}

.flair-master-thrall::before {
  background-position: 40px -760px
}

.flair-master-jaina::before {
  background-position: 40px -780px
}

.flair-master-leoric::before {
  background-position: 40px -820px
}

.flair-master-butcher::before {
  background-position: 40px -840px
}

.flair-master-crusader::before {
  background-position: 40px -860px
}

.flair-master-zagara::before {
  background-position: 40px -880px
}

.flair-master-tlv::before {
  background-position: 40px -899px
}

.flair-master-monk::before {
  background-position: 40px -1620px
}

.flair-master-rexxar::before {
  background-position: 40px -1640px
}

.flair-master-medic::before {
  background-position: 40px -1760px
}

.flair-master-artanis::before {
  background-position: 40px -1780px
}

.flair-master-cho::before {
  background-position: 40px -2040px
}

.flair-master-gall::before {
  background-position: 40px -2060px
}

.flair-master-lunara::before {
  background-position: 40px -2080px
}

.flair-master-greymane::before {
  background-position: 40px -2100px
}

.flair-master-liming::before {
  background-position: 40px -2400px
}

.flair-master-xul::before {
  background-position: 40px -2440px
}

.flair-dehaka::before {
  background-position: 0 -2580px
}

.flair-chromie::before {
  background-position: 0 -2620px
}

.flair-master-chromie::before {
  background-position: 40px -2620px
}

.flair-tracer-ingmae::before {
  background-position: 0 -2600px
}

.flair-tracer-ingame-master::before {
  background-position: 40px -2600px
}

.flair-master-dehaka::before {
  background-position: 40px -2580px
}

.flair-master-madhiv::before {
  background-position: 40px -2640px
}

.flair-madhiv::before {
  background-position: 0 -2640px
}

.flair-guldan-ingame::before {
  background-position: 0 -2660px
}

.flair-master-guldan::before {
  background-position: 40px -2660px
}

.flair-chen-tespa::before {
  background-position: 40px -1160px
}

.flair-khaldor::before {
  background-position: 40px -2560px
}

.flair-blizzcon2014::before {
  background-position: 40px -2300px
}

.flair-azmodunk::before {
  background-position: 40px -2280px
}

.flair-space-lord-leoric::before {
  background-position: 40px -2260px
}

.flair-alarak::before {
  background-position: 0 -2700px
}

.flair-master-alarak::before {
  background-position: 40px -2700px
}

.flair-zarya::before {
  background-position: 0 -2720px
}

.flair-master-zarya::before {
  background-position: 40px -2720px
}

.flair-samuro::before {
  background-position: 0 -2740px
}

.flair-master-samuro::before {
  background-position: 40px -2740px
}

.flair-auriel::before {
  background-position: 0 -2680px
}

.flair-master-auriel::before {
  background-position: 40px -2680px
}

.flair-varian::before {
  background-position: 0 -2760px
}

.flair-rag::before {
  background-position: 0 -2780px
}

.flair-master-varian::before {
  background-position: 40px -2760px
}

.flair-master-rag::before {
  background-position: 40px -2780px
}

.flair-zuljin::before {
  background-position: 0 -2800px
}

.flair-master-zuljin::before {
  background-position: 40px -2800px
}