.linkflair-blizzcon .linkflairlabel,
.linkflair-bug .linkflairlabel,
.linkflair-creative .linkflairlabel,
.linkflair-discussion .linkflairlabel,
.linkflair-esports .linkflairlabel,
.linkflair-fluff .linkflairlabel,
.linkflair-gameplay .linkflairlabel,
.linkflair-news .linkflairlabel,
.linkflair-rage .linkflairlabel,
.linkflair-suggestion .linkflairlabel,
.linkflair-teaching .linkflairlabel {
  height: 16px;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  display: block;
  top: -10px;
  width: fit-content;
  padding: 0 4px 0 0;
  margin-bottom: -13px;
  line-height: 14px;
  background-color: transparent;
}

.flairoptionpane .linkflairlabel {
  font-size: 13px;
  top: 10px;
  padding-left: 1px;
}

.linkflair-blizzcon .linkflairlabel {
  color: #7DF;
}

.linkflair-bug .linkflairlabel {
  color: #E68A00;
}

.linkflair-creative .linkflairlabel {
  color: #70f;
}

.linkflair-discussion .linkflairlabel {
  color: #923d0e;
}

.linkflair-esports .linkflairlabel {
  color: #119c14;
}

.linkflair-fluff .linkflairlabel {
  color: #f74f97;
}

.linkflair-gameplay .linkflairlabel {
  color: #28A;
}

.linkflair-news .linkflairlabel {
  color: #1100b0;
}

.res-nightmode .linkflair-news .linkflairlabel {
  color: #6757ff;
}

.linkflair-rage .linkflairlabel {
  color: red;
}

.linkflair-suggestion .linkflairlabel {
  color: #8e8800;
}

.linkflair-teaching .linkflairlabel {
  color: #1ba2a2;
}


// Link Flair Icons

.linkflair-blizzcon .thumbnail.self,
.linkflair-bug .thumbnail.self,
.linkflair-creative .thumbnail.self,
.linkflair-discussion .thumbnail.self,
.linkflair-esports .thumbnail.self,
.linkflair-fluff .thumbnail.self,
.linkflair-gameplay .thumbnail.self,
.linkflair-news .thumbnail.self,
.linkflair-rage .thumbnail.self,
.linkflair-suggestion .thumbnail.self,
.linkflair-teaching .thumbnail.self {
	height: 56px;
}

.linkflair-gameplay .thumbnail.self {
  background: url(%%link-flair%%) 0 0
}

.linkflair-esports .thumbnail.self {
  background: url(%%link-flair%%) 0 -56px
}

.linkflair-bug .thumbnail.self {
  background: url(%%link-flair%%) 0 -112px
}

.linkflair-suggestion .thumbnail.self {
  background: url(%%link-flair%%) 0 -168px
}

.linkflair-news .thumbnail.self {
  background: url(%%link-flair%%) 0 -224px
}

.linkflair-creative .thumbnail.self {
  background: url(%%link-flair%%) 0 -280px
}

.linkflair-teaching .thumbnail.self {
  background: url(%%link-flair%%) 0 -336px
}

.linkflair-fluff .thumbnail.self {
  background: url(%%link-flair%%) 0 -392px
}

.linkflair-discussion .thumbnail.self {
  background: url(%%link-flair%%) 0 -448px
}



// Blizzard-related flairs

.linkflair-bluepost .flair {
  color: #ddd
}

.linkflair-blizzard .linkflairlabel {
  background-color: #000;
  border-color: #000;
  border-width: 0;
  color: #00b4ff;
  font-size: 11px;
  font-weight: 700;
  padding: 3px;
}

.linkflair-blizzreply .linkflairlabel {
  background: #333;
  color: rgba(0, 195, 255, 1);
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  height: auto;
  max-width: 11em!important;
  padding: 3px 6px;
  position: relative;
  text-shadow: 1px 1px #000;
}
