.linkflair-blizzcon .linkflairlabel,
.linkflair-bug .linkflairlabel,
.linkflair-creative .linkflairlabel,
.linkflair-esports .linkflairlabel,
.linkflair-gameplay .linkflairlabel,
.linkflair-news .linkflairlabel,
.linkflair-rage .linkflairlabel,
.linkflair-suggestion .linkflairlabel,
.linkflair-teaching .linkflairlabel {
  height: 16px;
  font-size: 11px;
  font-weight: 700;
}

.linkflair-blizzcon .linkflairlabel {
  background-color: #7DF;
  color: #FFF;
}

.linkflair-bug .linkflairlabel {
  background-color: #E68A00;
  color: #000;
}

.linkflair-creative .linkflairlabel {
  background-color: #68A;
  color: #FFF;
}

.linkflair-esports .linkflairlabel {
  background-color: #6A3;
  color: #FFF;
}

.linkflair-gameplay .linkflairlabel {
  background-color: #28A;
  color: #FFF;
}

.linkflair-news .linkflairlabel {
  background-color: #40B;
  color: #FFF;
}

.linkflair-rage .linkflairlabel {
  background-color: red;
  color: #FFF;
}

.linkflair-suggestion .linkflairlabel {
  background-color: #634;
  color: #FFF;
}

.linkflair-teaching .linkflairlabel {
  background-color: #9FF;
  color: #000;
}

// Blizzard-related flairs

.linkflair-bluepost .flair {
  color: #ddd
}

.linkflair-blizzard .linkflairlabel {
  background-color: #000;
  border-color: #000;
  border-width: 0;
  color: #00b4ff;
  font-size: 11px;
  font-weight: 700;
  padding: 3px;
}

.linkflair-blizzreply .linkflairlabel {
  background: #333;
  color: rgba(0, 195, 255, 1);
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  height: auto;
  max-width: 11em!important;
  padding: 3px 6px;
  position: relative;
  text-shadow: 1px 1px #000;
}
