.side .md a[href*="#free_rotation"],
side .md a[href*="#free_rotation2"] {
  text-align: center;
  content: "";
  display: inline-block;
  height: 100px;
  width: 92px;
  margin-bottom: -40px;
  margin-right: -28px;
  position: relative;
  top: -10px;
}

.side .md a[href*="#free_rotation"] {
  background: url(%%thumbnails-hexagon-one%%) no-repeat
}

.side .md a[href*="#free_rotation2"] {
  background: url(%%thumbnails-hexagon-two%%) no-repeat
}

.side .md a[href*="#free_rotation"]:hover,
.side .md a[href*="#free_rotation2"]:hover {
  opacity: .8
}

.side .md a[href*="#Abathur"] {
  background-position: 0 -300px
}

.side .md a[href*="#Anubarak"] {
  background-position: 0 -100px
}

.side .md a[href*="#Arthas"] {
  background-position: 0 -200px
}

.side .md a[href*="#Azmodan"] {
  background-position: 0 -3200px
}

.side .md a[href*="#Brightwing"] {
  background-position: 0 -3300px
}

.side .md a[href*="#Chen"] {
  background-position: 0 -400px
}

.side .md a[href*="#Diablo"] {
  background-position: 0 -500px
}

.side .md a[href*="#ETC"] {
  background-position: 0 -1200px
}

.side .md a[href*="#Falstad"] {
  background-position: 0 -600px
}

.side .md a[href*="#Gazlowe"] {
  background-position: 0 -2000px
}

.side .md a[href*="#Illidan"] {
  background-position: 0 -700px
}

.side .md a[href*="#Jaina"] {
  background-position: 0 -800px
}

.side .md a[href*="#Kaelthas"] {
  background-position: 0 -900px
}

.side .md a[href*="#Kerrigan"] {
  background-position: 0 -1000px
}

.side .md a[href*="#LiLi"] {
  background-position: 0 -1100px
}

.side .md a[href*="#Malfurion"] {
  background-position: 0 -1900px
}

.side .md a[href*="#Muradin"] {
  background-position: 0 -1300px
}

.side .md a[href*="#Murky"] {
  background-position: 0 -1400px
}

.side .md a[href*="#Nazeebo"] {
  background-position: 0 -1500px
}

.side .md a[href*="#Nova"] {
  background-position: 0 -1600px
}

.side .md a[href*="#Raynor"] {
  background-position: 0 -1700px
}

.side .md a[href*="#Rehgar"] {
  background-position: 0 -1800px
}

.side .md a[href*="#SgtHammer"] {
  background-position: 0 -2800px
}

.side .md a[href*="#Sonya"] {
  background-position: 0 -2900px
}

.side .md a[href*="#Stitches"] {
  background-position: 0 -3000px
}

.side .md a[href*="#Sylvanas"] {
  background-position: 0 -3100px
}

.side .md a[href*="#Tassadar"] {
  background-position: 0 -3400px
}

.side .md a[href*="#TLV"] {
  background-position: 0 0
}

.side .md a[href*="#Thrall"] {
  background-position: 0 -2700px
}

.side .md a[href*="#Tychus"] {
  background-position: 0 -2100px
}

.side .md a[href*="#Tyrael"] {
  background-position: 0 -2200px
}

.side .md a[href*="#Tyrande"] {
  background-position: 0 -3500px
}

.side .md a[href*="#Uther"] {
  background-position: 0 -2300px
}

.side .md a[href*="#Valla"] {
  background-position: 0 -2400px
}

.side .md a[href*="#Zagara"] {
  background-position: 0 -2500px
}

.side .md a[href*="#Zeratul"] {
  background-position: 0 -2600px
}

.side .md a[href*="#Johanna"] {
  background-position: 0 -3600px
}

.side .md a[href*="#TheButcher"] {
  background-position: 0 -3700px
}

.side .md a[href*="#Leoric"] {
  background-position: 0 -3800px
}

.side .md a[href*="#Kharazim"] {
  background-position: 0 -3900px
}

.side .md a[href*="#Rexxar"] {
  background-position: 0 -4000px
}

.side .md a[href*="#LtMorales"] {
  background-position: 0 -4200px
}

.side .md a[href*="#Artanis"] {
  background-position: 0 -4100px
}

.side .md a[href*="#Cho"],
.side .md a[href*="#Gall"] {
  background-position: 0 -4300px
}

.side .md a[href*="#Lunara"] {
  background-position: 0 -4400px
}

.side .md a[href*="#Greymane"] {
  background-position: 0 -4500px
}

.side .md a[href*="#LiMing"] {
  background-position: 0 -4600px
}

.side .md a[href*="#Xul"] {
  background-position: 0 -4700px
}

.side .md a[href*="#Dehaka"] {
  background-position: 0 -4800px
}

.side .md a[href*="#Tracer"] {
  background-position: 0 -4900px
}

.side .md a[href*="#Chromie"] {
  background-position: 0 -5000px
}

.side .md a[href*="#Medivh"] {
  background-position: 0 -5100px
}

.side .md a[href*="#Guldan"] {
  background-position: 0 -5200px
}

.side .md a[href*="#Auriel"] {
  background-position: 0 -5300px
}

.side .md a[href*="#Alarak"] {
  background-position: 0 -5500px
}

.side .md a[href*="#Zarya"] {
  background-position: 0 -5400px
}

.side .md a[href*="#Samuro"] {
  background-position: 0 0
}

.side .md a[href*="#Varian"] {
  background-position: 0 -100px
}

.side .md a[href*="#Ragnaros"] {
  background-position: 0 -200px
}

.side .md a[href*="#Zuljin"] {
  background-position: 0 -300px
}

.side .md a[href*="#Valeera"] {
  background-position: 0 -400px
}

.side .md a[href*="#Lucio"] {
  background-position: 0 -500px
}

.side .md a[href*="#spacer"],
.side .md a[href*="#bottom"] {
  pointer-events: none;
  cursor: default;
  width: 22px;
  text-align: center;
  content: "";
  display: inline-block
}

.side .md a[href*="#spacer"] {
  height: 60px;
  margin-right: 8px
}

.side .md a[href*="#bottom"] {
  margin-right: 12px
}