.pinHeader-header .side {
  margin-top: 164px
}

.pinHeader-header.res.comments-page .side {
  margin-top: 290px
}

.side {
  margin-top: 294px
}

.search-page .side {
  margin-top: 242px
}

.comments-page .side {
  margin-top: 406px
}

.res .comments-page .side {
  margin-top: 420px
}

.comments-page .side .linkinfo {
  margin-top: 94px
}

.sidebox.submit.submit-link {
  display: block
}

.side .md blockquote:hover>blockquote:before {
  display: none!important
}

.side blockquote {
  border: 0;
  margin: 0;
  padding: 0
}

.side .md>blockquote>blockquote>blockquote {
  margin: 0;
  padding: 5px 40px 5px 4px;
  height: 45px;
  position: relative
}

.side .md>blockquote {
  overflow: hidden!important;
  margin-bottom: 5px
}

.side .md>blockquote:hover {
  max-height: 100%!important;
  background-image: none!important
}

.side .md>blockquote>blockquote>blockquote p del,
.side .md>blockquote>blockquote>blockquote p del:hover {
  position: absolute;
  text-decoration: none
}

.side .md>blockquote>blockquote>blockquote p del:nth-child(1) {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  font-size: 11px;
  font-weight: 400;
  font-family: Verdana, Candara, Segoe, Geneva, Tahoma, Arial, sans-serif;
  top: 0;
  right: 10px;
  line-height: 20px;
  color: #202125;
  text-align: right;
  z-index: 3
}

.side .md p del:nth-child(4),
.side .md>blockquote>blockquote>blockquote p del:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 117px;
  font-size: 12px;
  font-weight: 400;
  font-family: Verdana, Candara, Segoe, Geneva, Tahoma, Arial, sans-serif;
  top: 5px;
  left: 75px;
  z-index: 3;
  color: #000
}

.side .md p del:nth-child(4) a,
.side .md>blockquote>blockquote>blockquote p del:nth-child(3) a {
  color: #fff
}

.side .md>blockquote>blockquote>blockquote p del:nth-child(4) {
  top: 23px;
  color: #000
}

.side .md>blockquote>blockquote>blockquote p del:nth-child(2) {
  left: 5px;
  top: 8px;
  color: #ddd;
  background: #0b2d4f;
  line-height: 28px;
  font-size: 13px;
  font-weight: 400;
  font-family: Verdana, Candara, Segoe, Geneva, Tahoma, Arial, sans-serif;
  height: 30px;
  width: 65px;
  text-align: center;
  z-index: 3;
  overflow: hidden
}

.side .md>ul li a {
  color: #fff
}

.side .md>blockquote>blockquote>blockquote p a:nth-child(2) {
  top: 9px;
  left: 75px;
  z-index: 2;
  position: absolute
}

.side .md>blockquote>blockquote>blockquote p a:nth-child(3) {
  top: 27px;
  left: 75px;
  z-index: 2;
  position: absolute
}

.side .md a[href*="#matchSpacer"] {
  font-size: 0;
  margin-bottom: -10px;
  display: block
}

.side .md>ul {
  padding-left: 0
}

.side .md>ul li {
  background: #0b2d4f;
  padding: 4px 6px;
  margin-left: 5px;
  margin-bottom: 3px;
  list-style: none;
  position: relative;
  overflow: hidden
}

.side .md>ul li:hover {
  background-color: #05192f;
}

.side .md>ul li sup {
  float: right;
  margin-top: 8px;
  font-size: 16px
}

.side .md>ul li a del {
  position: absolute;
  left: 110px;
  text-decoration: none;
  width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 40px;
  margin-top: -12px
}

.side .spacer {
  margin: 0
}

.side .md>ol {
  position: absolute;
  top: 35px;
  left: 50px;
  z-index: 98;
  list-style: none;
  margin: 0;
  padding: 0
}

.side .md>ol a {
  display: inline-block;
  padding: 5px 5px 5px 0;
  background: #eee;
  border: 2px solid #4F5763;
  font-size: 12px;
  text-decoration: none;
  color: #222
}

.side .md>ol li {
  margin-bottom: 5px
}

.side .md>ol a:before {
  content: "NOTICE";
  font-weight: 700;
  margin: 0 5px 0 0;
  padding: 5px;
  background: #0b2d4f;
  color: #ddd
}

.side .md>ol a:hover {
  border-color: #4D5763;
  background: #ddd;
  opacity: .8
}

.side .md>ol a:hover:before {
  background: #0b2d4f
}

.side .md>ol a[href$="#blizz"] {
  border: 2px solid #0071a2
}

.side .md>ol a[href$="#blizz"]:before {
  content: "BLIZZ";
  background: #0071a2
}

.side .md>ol a[href$="#blizz"]:hover {
  border-color: #1a8bbc
}

.side .md>ol a[href$="#blizz"]:hover:before {
  background: #1a8bbc
}

.side .md h1,
.side .sidecontentbox .title h1 {
  display: block;
  margin: 10px -12px!important;
  padding: 10px;
  background: #0b2d4f;
  color: #ddd;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase
}

.side .titlebox .md h1 {
  margin: 10px -12px!important
}

.side .md h2{
  width: 49%;
  display: inline-block;
  padding: 10px;
  background: #0b2d4f;
  text-transform: uppercase;
  line-height: 18px!important;
  font-weight: 400;
  font-size: 15px!important;
}

.side .md h2 a{
  color:white!important;
}

.side .md a[href*="#discord"] {
  height: auto;
  background-color: #0b2d4f;
  color: #fff;
  display: block
}

.side .md a[href*='#discord']:after {
  content: "";
  font-size: 0;
  background-image: url(%%discord-icon%%);
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -35px;
  height: 50px;
  right: 32px;
  width: 50px
}

.side .md a[href*="#rules"],
.side .md a[href*="#metasub"],
.side .md a[href*="#events"] {
  height: auto;
  background-color: #0b2d4f;
  color: #fff;
  display: block
}

.side .md a[href*="#game"] {
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url(%%friendly-subreddit-images%%) no-repeat;
  margin-right: 5px
}

.side .md a[href*="#game"]:hover {
  opacity: .8
}

.side .md a[href*="#hearthstone"] {
  background-position: 0 -50px
}

.side .md a[href*="#starcraft"] {
  background-position: 0 -100px
}

.side .md a[href*="#warcraft"] {
  background-position: 0 -150px
}

.side .md a[href*="#diablo"] {
  background-position: 0 -200px
}

.side .md a[href*="#official"] {
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url(%%social-links%%) no-repeat;
  opacity: .8;
  margin-right: 7px
}

.side .md a[href*="#official"]:hover {
  opacity: .6
}

.side .md a[href*="#official"]:last-of-type {
  margin-right: 0
}

.side .md a[href*="#official_site"] {
  background-position: 0 -50px
}

.side .md a[href*="#official_twitter"] {
  background-position: 0 -100px
}

.side .md a[href*="#official_facebook"] {
  background-position: 0 -150px
}

.side .md a[href*="#official_twitch"] {
  background-position: 0 -200px
}

.side .flair {
  margin-top: 0
}

.side {
  width: 320px
}

.side {
  padding: 6px 12px
}

.comments-page .side .linkinfo {
  width: 320px
}

.side #moderation_tools .title h1,
.sidecontentbox a.helplink {
  color: #ddd
}

.titlebox h1 a[href*="#hgc"] {
	display: inline;
	color: #ddd;
	text-decoration: underline
}

.titlebox h1 a[href*="#hgc"]:visited {
	color: #ddd
}

/* sidebar dropdown menus */

.titlebox blockquote>ul {
    padding: 0;
}

.titlebox blockquote>ul li {
    display: none;
    background: #0b2d4f;
    padding: 8px 0;
    margin-bottom: 3px;
    text-align: center;
    color: white;
    font-size: 15px !important;
}

.titlebox blockquote>ul li a {
    color: white;
}

.titlebox blockquote>ul li a:visited {
    color: white;
}

.titlebox blockquote>ul li:hover {
    background-color: #05192f;
}

.titlebox blockquote>ul li:nth-child(1):not(.flairsample-left) {
    display: block;
}

.titlebox blockquote>ul li:nth-child(1):not(.flairsample-left):hover {
    background-color: #05192f;
}

.titlebox blockquote>ul:hover > li {
    display: block;
}
