// Link text to #s will be blacked out
a[href="#s"] {
  background: #000;
  border-radius: 3px;
  color: #000;
  cursor: text;
  padding: 0 2px;
}

a[href="#s"]:visited {
  color: #000;
}

a[href="#s"]:active,
a[href="#s"]:active:after,
a[href="#s"]:hover,
a[href="#s"]:hover:after {
  color: #fff
}

.thing.stickied a[href="#s"],
.thing.stickied a[href="#s"]:visited {
  color: #000!important
}

.thing.stickied a[href="#s"]:active,
.thing.stickied a[href="#s"]:hover {
  color: #65b354!important
}
