.flair-2ARC::before {
  background-position: 0 -960px
}

.flair-ALT::before {
  background-position: 0 -980px
}

.flair-NaVi::before {
  background-position: 0 -1000px
}

.flair-BB::before {
  background-position: 0 -1020px
}

.flair-Nihilum::before {
  background-position: 0 -1040px
}

.flair-ASH::before {
  background-position: 0 -1060px
}

.flair-Dunktrain::before {
  background-position: 0 -1160px
}

.flair-coL::before {
  background-position: 0 -1180px
}

.flair-CyaSteve::before {
  background-position: 0 -1200px
}

.flair-Dignitas::before {
  background-position: 0 -1220px
}

.flair-EG::before {
  background-position: 0 -1240px
}

.flair-ESC::before {
  background-position: 0 -1280px
}

.flair-Fnatic::before {
  background-position: 0 -1340px
}

.flair-G2::before {
  background-position: 0 -1360px
}

.flair-SK::before {
  background-position: 0 -1440px
}

.flair-TempoStorm::before {
  background-position: 0 -1460px
}

.flair-TL::before {
  background-position: 0 -1480px
}

.flair-WellMet::before {
  background-position: 0 -1500px
}

.flair-Acer::before {
  background-position: 0 -1520px
}

.flair-COGnitive::before {
  background-position: 0 -1540px
}

.flair-TeamFancy::before {
  background-position: 0 -1560px
}

.flair-MLG::before {
  background-position: 0 -1420px
}

.flair-ESL::before {
  background-position: 0 -1300px
}

.flair-StormKitten::before {
  background-position: 0 -1380px
}

.flair-TGNSquadron::before {
  background-position: 0 -1600px
}

.flair-Blaze::before {
  background-position: 0 -1660px
}

.flair-TeamDK::before {
  background-position: 0 -1820px
}

.flair-TeamSnake::before {
  background-position: 0 -1840px
}

.flair-MVPBlack::before {
  background-position: 0 -1860px
}

.flair-VP::before {
  background-position: 0 -1960px
}

.flair-panda::before {
  background-position: 0 -1980px
}

.flair-cloud9::before {
  background-position: 0 -2200px
}

.flair-edg::before {
  background-position: 0 -2240px
}

.flair-yl::before {
  background-position: 0 -2260px
}

.flair-braveheart::before {
  background-position: 0 -2280px
}

.flair-eStar::before {
  background-position: 0 -2300px
}

.flair-kappawolves::before {
  background-position: 0 -2320px
}

.flair-spartanien::before {
  background-position: 0 -2340px
}

.flair-myinsanity::before {
  background-position: 0 -2360px
}

.flair-g2new::before {
  background-position: 0 -2380px
}

.flair-zeropanda::before {
  background-position: 0 -2460px
}

.flair-brfc::before {
  background-position: 0 -2480px
}

.flair-elysiumgaming::before {
  background-position: 0 -2500px
}

.flair-googleishetzont::before {
  background-position: 0 -2520px
}

.flair-eLevate::before {
  background-position: 40px -1000px
}

.flair-KoBA::before {
  background-position: 40px -980px
}

.flair-resurgence::before {
  background-position: 40px -960px
}

.flair-ign::before {
  background-position: 0 -2540px
}

.flair-naventic::before {
  background-position: 40px -1020px
}

.flair-epsilon::before {
  background-position: 40px -1040px
}

.flair-tnl::before {
  background-position: 40px -1060px
}

.flair-biggods::before {
  background-position: 40px -1080px
}

.flair-gia::before {
  background-position: 40px -1100px
}

.flair-renovatio::before {
  background-position: 40px -1120px
}

.flair-negitivesynergy::before {
  background-position: 40px -1140px
}

.flair-denial-esports::before {
  background-position: 40px -2540px
}

.flair-team-name-change::before {
  background-position: 40px -2520px
}

.flair-mg3::before {
  background-position: 40px -2500px
}

.flair-gale-force-esports::before {
  background-position: 40px -2480px
}

.flair-vox-nihili::before {
  background-position: 40px -2460px
}

.flair-astral-authority::before {
  background-position: 40px -2420px
}

.flair-misfits::before {
  background-position: 40px -2380px
}

.flair-arcane8::before {
  background-position: 40px -2360px
}

.flair-kendricswish::before {
  background-position: 40px -2340px
}

.flair-imported-support::before {
  background-position: 40px -2320px
}

.flair-ballistix::before {
  background-position: 40px -2240px
}

.flair-dreadnaught::before {
  background-position: 40px -1180px
}