.flair-esports,
.flair-esports::before{
  width: 30px;
}

.flair-esports::before {
  background: url(%%flair-esports%%);
}

.flair-e-hgc::before {
  background-position: 0 0;
}

.flair-e-roll20::before {
  background-position: 0 -20px;
}

.flair-e-cloud9::before {
  background-position: 0 -40px;
}

.flair-e-mindfreak::before {
  background-position: 0 -60px;
}

.flair-e-aztech::before {
  background-position: 0 -80px;
}

.flair-e-mvp::before {
  background-position: 0 -100px;
}

.flair-e-heroes-hype::before {
  background-position: 0 -120px;
}




.flair-e-no-tomorrow::before {
  background-position: -30px 0;
}

.flair-e-team-freedom::before {
  background-position: -30px -20px;
}

.flair-e-heroeshearth::before {
  background-position: -30px -40px;
}

.flair-e-tempo-storm::before {
  background-position: -30px -60px;
}

.flair-e-endemic::before {
  background-position: -30px -80px;
}

.flair-e-team-octalysis::before {
  background-position: -30px -100px;
}

.flair-e-simplicity::before {
  background-position: -30px -120px;
}

.flair-e-lfm-esports::before {
  background-position: -30px -140px;
}




.flair-e-zealots::before {
  background-position: -60px 0;
}

.flair-e-team-liquid::before {
  background-position: -60px -20px;
}


.flair-e-team-dignitas::before {
  background-position: -60px -40px;
}


.flair-e-fnatic::before {
  background-position: -60px -60px;
}


.flair-e-method::before {
  background-position: -60px -80px;
}


.flair-e-granit-gaming::before {
  background-position: -60px -100px;
}


.flair-e-leftovers::before {
  background-position: -60px -120px;
}


.flair-e-monkey-menagerie::before {
  background-position: -60px -140px;
}




.flair-e-team-blossom::before {
  background-position: -90px 0;
}

.flair-e-tempest::before {
  background-position: -90px -20px;
}

.flair-e-gen-g::before {
  background-position: -90px -40px;
}

.flair-e-ballistix::before {
  background-position: -90px -60px;
}

.flair-e-miracle::before {
  background-position: -90px -80px;
}

.flair-e-supernova::before {
  background-position: -90px -100px;
}

.flair-e-feliz::before {
  background-position: -90px -120px;
}

.flair-e-gluck::before {
  background-position: -90px -140px;
}




.flair-e-rpg::before {
  background-position: -120px 0;
}

.flair-e-ce::before {
  background-position: -120px -20px;
}

.flair-e-spt::before {
  background-position: -120px -40px;
}

.flair-e-theone::before {
  background-position: -120px -60px;
}

.flair-e-a-team::before {
  background-position: -120px -80px;
}

.flair-e-kt::before {
  background-position: -120px -100px;
}

.flair-e-btg::before {
  background-position: -120px -120px;
}

.flair-e-teamnut::before {
  background-position: -120px -140px;
}