.flair-general::before {
  background: url(%%flair-general%%);
}

.flair-g-silenced::before {
  background-position: 40px -260px;
}

.flair-g-derpy-murky::before {
	background-position: 40px -280px;
}

.flair-g-masterleague::before {
	background-position: 40px -300px;
}

.flair-g-gilly::before {
	background-position: 0 -320px;
}

.flair-g-carbot::before {
	background-position: 40px -320px;
}