.flair-general::before {
  background: url(%%flair-general%%);
}

.flair-g-diablo::before{
	background-position: 0 0;
}
.flair-g-starcraft::before{
	background-position: 0 -20px;
}
.flair-g-warcraft::before{
	background-position: 0 -40px;
}
.flair-g-heroes::before{
	background-position: 0 -60px;
}
.flair-g-overwatch::before{
	background-position: 0 -280px;
}
.flair-g-hearthstone::before{
	background-position: 0 -300px;
}
.flair-g-heroeslogo::before{
	background-position: 0 -80px;
}
.flair-g-assassin::before{
	background-position: 40px 0;
}
.flair-g-specialist::before{
	background-position: 40px -20px;
}
.flair-g-support::before{
	background-position: 40px -40px;
}
.flair-g-warrior::before{
	background-position: 40px -60px;
}
.flair-g-spacelordleoric::before{
	background-position: 40px -80px;
}
.flair-g-dunktrain::before{
	background-position: 0 -100px;
}
.flair-g-tespachen::before{
	background-position: 0 -120px;
}
.flair-g-dreadnaught::before{
	background-position: 0 -140px;
}
.flair-g-esl::before{
	background-position: 0 -160px;
}
.flair-g-blizzard::before{
	background-position: 0 -180px;
}
.flair-g-arcane8::before{
	background-position: 40px -180px;
}
.flair-g-mlg::before{
	background-position: 0 -200px;
}
.flair-g-6point5::before{
	background-position: 40px -200px;
}
.flair-g-teamsquadron::before{
	background-position: 0 -220px;
}
.flair-g-tespa::before{
	background-position: 40px -220px;
}
.flair-g-random::before{
	background-position: 0 -240px;
}
.flair-g-trikslyr::before{
	background-position: 40px -240px;
}
.flair-g-khaldor::before{
	background-position: 0 -260px;
}
.flair-g-silenced::before{
	background-position: 40px -260px;
}
.flair-g-azmodunk::before{
	background-position: 40px -100px;
}
.flair-g-blizzcon2014::before{
	background-position: 40px -120px;
}
.flair-g-wonderbilly::before{
	background-position: 40px -140px;
}
.flair-g-kendricswissh::before{
	background-position: 40px -160px;
}
