.flair-hero::before {
  background: url(%%flair-hero%%);
}

.flair-h-abathur::before{
  background-position: 0 0;
}
.flair-h-arthas::before{
  background-position: 0 -20px;
}
.flair-h-diablo::before{
  background-position: 0 -80px;
}
.flair-h-etc::before{
  background-position: 0 -100px;
}
.flair-h-falstad::before{
  background-position: 0 -120px;
}
.flair-h-gazlowe::before{
  background-position: 0 -140px;
}
.flair-h-illidan::before{
  background-position: 0 -160px;
}
.flair-h-kerrigan::before{
  background-position: 0 -180px;
}
.flair-h-malfurion::before{
  background-position: 0 -200px;
}
.flair-h-muradin::before{
  background-position: 0 -220px;
}
.flair-h-nazeebo::before{
  background-position: 0 -400px;
}
.flair-h-nova::before{
  background-position: 0 -240px;
}
.flair-h-raynor::before{
  background-position: 0 -260px;
}
.flair-h-sgthammer::before{
  background-position: 0 -280px;
}
.flair-h-sonya::before{
  background-position: 0 -40px;
}
.flair-h-stitches::before{
  background-position: 0 -300px;
}
.flair-h-tassadar::before{
  background-position: 0 -320px;
}
.flair-h-tyrael::before{
  background-position: 0 -340px;
}
.flair-h-tyrande::before{
  background-position: 0 -360px;
}
.flair-h-uther::before{
  background-position: 0 -380px;
}
.flair-h-valla::before{
  background-position: 0 -60px;
}
.flair-h-zeratul::before{
  background-position: 0 -420px;
}
.flair-h-tychus::before{
  background-position: 0 -560px;
}
.flair-h-brightwing::before{
  background-position: 0 -460px;
}
.flair-h-lili::before{
  background-position: 0 -440px;
}
.flair-h-murky::before{
  background-position: 0 -480px;
}
.flair-h-zagara::before{
  background-position: 0 -740px;
}
.flair-h-rehgar::before{
  background-position: 0 -580px;
}
.flair-h-chen::before{
  background-position: 0 -500px;
}
.flair-h-anubarak::before{
  background-position: 0 -600px;
}
.flair-h-azmodan::before{
  background-position: 0 -620px;
}
.flair-h-jaina::before{
  background-position: 0 -640px;
}
.flair-h-thrall::before{
  background-position: 0 -660px;
}
.flair-h-vikings::before{
  background-position: 0 -760px;
}
.flair-h-sylvanas::before{
  background-position: 0 -540px;
}
.flair-h-kaelthas::before{
  background-position: 0 -520px;
}
.flair-h-johanna::before{
  background-position: 0 -720px;
}
.flair-h-butcher::before{
  background-position: 0 -700px;
}
.flair-h-leoric::before{
  background-position: 0 -680px;
}
.flair-h-kharazim::before{
  background-position: 0 -780px;
}
.flair-h-rexxar::before{
  background-position: 0 -800px;
}
.flair-h-ltmorales::before{
  background-position: 0 -820px;
}
.flair-h-artanis::before{
  background-position: 0 -840px;
}
.flair-h-chogall::before{
  background-position: 0 -860px;
}
.flair-h-cho::before{
  background-position: 0 -880px;
}
.flair-h-gall::before{
  background-position: 0 -900px;
}
.flair-h-lunara::before{
  background-position: 0 -920px;
}
.flair-h-greymane::before{
  background-position: 0 -940px;
}
.flair-h-greymane-worgen::before{
  background-position: 0 -960px;
}
.flair-h-liming::before{
  background-position: 0 -980px;
}
.flair-h-xul::before{
  background-position: 0 -1000px;
}
.flair-h-dehaka::before{
  background-position: 0 -1020px;
}
.flair-h-tracer::before{
  background-position: 0 -1040px;
}
.flair-h-chromie::before{
  background-position: 0 -1060px;
}
.flair-h-medivh::before{
  background-position: 0 -1080px;
}
.flair-h-guldan::before{
  background-position: 0 -1100px;
}
.flair-h-auriel::before{
  background-position: 0 -1120px;
}
.flair-h-alarak::before{
  background-position: 0 -1140px;
}
.flair-h-zarya::before{
  background-position: 0 -1160px;
}
.flair-h-samuro::before{
  background-position: 0 -1180px;
}
.flair-h-varian::before{
  background-position: 0 -1200px;
}
.flair-h-ragnaros::before{
  background-position: 0 -1220px;
}
.flair-h-zuljin::before{
  background-position: 0 -1240px;
}
.flair-h-valeera::before{
  background-position: 0 -1260px;
}