.flair-hm-abathur::before{
  background-position: 40px 0;
}
.flair-hm-arthas::before{
  background-position: 40px -20px;
}
.flair-hm-diablo::before{
  background-position: 40px -80px;
}
.flair-hm-etc::before{
  background-position: 40px -100px;
}
.flair-hm-falstad::before{
  background-position: 40px -120px;
}
.flair-hm-gazlowe::before{
  background-position: 40px -140px;
}
.flair-hm-illidan::before{
  background-position: 40px -160px;
}
.flair-hm-kerrigan::before{
  background-position: 40px -180px;
}
.flair-hm-malfurion::before{
  background-position: 40px -200px;
}
.flair-hm-muradin::before{
  background-position: 40px -220px;
}
.flair-hm-nazeebo::before{
  background-position: 40px -400px;
}
.flair-hm-nova::before{
  background-position: 40px -240px;
}
.flair-hm-raynor::before{
  background-position: 40px -260px;
}
.flair-hm-sgthammer::before{
  background-position: 40px -280px;
}
.flair-hm-sonya::before{
  background-position: 40px -40px;
}
.flair-hm-stitches::before{
  background-position: 40px -300px;
}
.flair-hm-tassadar::before{
  background-position: 40px -320px;
}
.flair-hm-tyrael::before{
  background-position: 40px -340px;
}
.flair-hm-tyrande::before{
  background-position: 40px -360px;
}
.flair-hm-uther::before{
  background-position: 40px -380px;
}
.flair-hm-valla::before{
  background-position: 40px -60px;
}
.flair-hm-zeratul::before{
  background-position: 40px -420px;
}
.flair-hm-tychus::before{
  background-position: 40px -560px;
}
.flair-hm-brightwing::before{
  background-position: 40px -460px;
}
.flair-hm-lili::before{
  background-position: 40px -440px;
}
.flair-hm-murky::before{
  background-position: 40px -480px;
}
.flair-hm-zagara::before{
  background-position: 40px -740px;
}
.flair-hm-rehgar::before{
  background-position: 40px -580px;
}
.flair-hm-chen::before{
  background-position: 40px -500px;
}
.flair-hm-anubarak::before{
  background-position: 40px -600px;
}
.flair-hm-azmodan::before{
  background-position: 40px -620px;
}
.flair-hm-jaina::before{
  background-position: 40px -640px;
}
.flair-hm-thrall::before{
  background-position: 40px -660px;
}
.flair-hm-vikings::before{
  background-position: 40px -760px;
}
.flair-hm-sylvanas::before{
  background-position: 40px -540px;
}
.flair-hm-kaelthas::before{
  background-position: 40px -520px;
}
.flair-hm-johanna::before{
  background-position: 40px -720px;
}
.flair-hm-butcher::before{
  background-position: 40px -700px;
}
.flair-hm-leoric::before{
  background-position: 40px -680px;
}
.flair-hm-kharazim::before{
  background-position: 40px -780px;
}
.flair-hm-rexxar::before{
  background-position: 40px -800px;
}
.flair-hm-ltmorales::before{
  background-position: 40px -820px;
}
.flair-hm-artanis::before{
  background-position: 40px -840px;
}
.flair-hm-cho::before{
  background-position: 40px -880px;
}
.flair-hm-gall::before{
  background-position: 40px -900px;
}
.flair-hm-lunara::before{
  background-position: 40px -920px;
}
.flair-hm-greymane::before{
  background-position: 40px -940px;
}
.flair-hm-liming::before{
  background-position: 40px -980px;
}
.flair-hm-xul::before{
  background-position: 40px -1000px;
}
.flair-hm-dehaka::before{
  background-position: 40px -1020px;
}
.flair-hm-tracer::before{
  background-position: 40px -1040px;
}
.flair-hm-chromie::before{
  background-position: 40px -1060px;
}
.flair-hm-medivh::before{
  background-position: 40px -1080px;
}
.flair-hm-guldan::before{
  background-position: 40px -1100px;
}
.flair-hm-auriel::before{
  background-position: 40px -1120px;
}
.flair-hm-alarak::before{
  background-position: 40px -1140px;
}
.flair-hm-zarya::before{
  background-position: 40px -1160px;
}
.flair-hm-samuro::before{
  background-position: 40px -1180px;
}
.flair-hm-varian::before{
  background-position: 40px -1200px;
}
.flair-hm-ragnaros::before{
  background-position: 40px -1220px;
}
.flair-hm-zuljin::before{
  background-position: 40px -1240px;
}
.flair-hm-valeera::before{
  background-position: 40px -1260px;
}