.flair-CyaSteve::before {
  background-position: 0 -1200px
}

.flair-MLG::before {
  background-position: 0 -1420px
}

.flair-ESL::before {
  background-position: 0 -1300px
}

.flair-StormKitten::before {
  background-position: 0 -1380px
}

.flair-TGNSquadron::before {
  background-position: 0 -1600px
}

.flair-Blaze::before {
  background-position: 0 -1660px
}

.flair-ign::before {
  background-position: 0 -2540px
}

.flair-arcane8::before {
  background-position: 40px -2360px
}

.flair-kendricswish::before {
  background-position: 40px -2340px
}

.flair-dreadnaught::before {
  background-position: 40px -1180px
}

.flair-trikslyr::before {
  background-position: 40px -2220px
}